<div class="card">
    <h5>Single Column</h5>
    <p-table [value]="unis">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ranking">Ranking<p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="title">Name<p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="country">Country<p-sortIcon field="name"></p-sortIcon>
                </th>
                <!-- <th pSortableColumn="students">Number of Students<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="stu_staff_rt">Student Staff Ratio<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="intl_stu">International Students (%)<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="gen_rt">Gender Ratio<p-sortIcon field="quantity"></p-sortIcon>
                </th> -->
                <th pSortableColumn="gen_rt">Overall Score<p-sortIcon field="quantity"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-uni>
            <tr>
                <td>{{uni.ranking}}</td>
                <td>{{uni.institution}}</td>
                <td>{{uni.country}}</td>
                <!-- <td>{{uni.num_stu}}</td>
                <td>{{uni.stu_staff_rt}}</td>
                <td>{{uni.intl_stu_per}}</td>
                <td>{{uni.gender_rt}}</td> -->
                <td>{{uni.overall_score}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>