<div class="card">
    <h5>Single Column</h5>
    <p-table [value]="weather">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="country_code">Country Code<p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="city">City<p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="latitude">Latitude<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="longitude">Longitude<p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="max_temp">Max Temp<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="min_temp">Min Temp<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="curr_temp">Current Temp<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="pressure">Pressure<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="humidity">Humidity<p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="wind">Wind<p-sortIcon field="quantity"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-weath>
            <tr>
                <td>{{weath.country_code}}</td>
                <td>{{weath.city}}</td>
                <td>{{weath.latitude}}</td>
                <td>{{weath.longitude}}</td>
                <td>{{weath.max_temp}}</td>
                <td>{{weath.min_temp}}</td>
                <td>{{weath.curr_temp}}</td>
                <td>{{weath.pressure}}</td>
                <td>{{weath.humidity}}</td>
                <td>{{weath.wind}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>